<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/menu.css" rel="stylesheet">
    <title>メニュー</title>

<body>
<p class="user_name">[[ ${session.user.login_id} ]]さん、こんにちは</p>
<div class="container">


    <p class="fsize">メニュー画面</p>
    <div class="button_solid002">
        <a href="/insert">新しいデータの入力</a>
    </div>
    <br>
    <div class="button_solid003">
        <a href="/result">過去のデータを見る</a>
    </div>
    <br>
    <form action="/logout" method="post">
    <button type="submit">
        <a>ログアウト</a>
    </button>
    </form>
</div>
</body>
